<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
     <form name="form1" method="post" enctype="multipart/form-data" action="api/Upload/UploadMultipartImage">
        <fieldset>
            <legend>File Upload Example</legend>
            <div>
                <label for="image1">ProfileImage</label>
                <input name="image1" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </fieldset>
    </form>
</div>
