<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <!--Multipart image upload-->
    <add key="ProfilesImages" value="ProfileImages/"/>
    <add key="BaseURLApp" value="http://localhost:51559/" />
    <!--<add key="BaseURLApp" value="http://demo.simformsolutions.com:55220/" />-->
  </appSettings>

</configuration>
